VITE_CONTENTFUL_SPACE_ID=uhon10m9qsby
VITE_CONTENTFUL_ACCESS_TOKEN=cRByUZtmQ2_WBOhEKSPANAq_smQGYyRYH-s4wIF0F_A
VITE_CONTENTFUL_ENVIRONMENT=master
VITE_CONTENTFUL_CONTENT_TYPE=project
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_...
